{% load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'images/jash.jpg' %}" style="height:3%; width:3%; border-radius:50%;">
  <a class="navbar-brand ml-2" href="{% url 'article_list' %}">CodewithJash</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'article_list' %}">Home Page</a>
    </ul>
  </div>
</nav>
